.review-content-container {
    padding: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.cart-items-box {
    margin-top: 20px;
    height: 240px;
    overflow-y: scroll;
}

.review-cart-item {
    margin-bottom: 5px;
    padding: 10px;
    height: 70px;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    border-bottom: 1px solid rgb(224, 223, 223);
    display: flex;
}

.review-cart-total {
    padding: 5px 0 0 10px;
    font-size: 13px;
    border-bottom: 2px solid rgb(230, 229, 229);
}